@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    
  }

body {
    /* margin-left:250px; */
}

h1, h2, h3{
    font-family: 'Cinzel', sans-serif;
}

a, h4, span,label {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.hero-img {
    background-image: url(/public/images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-img img {
    width: auto;
    height: 100vh;
}


.sign-up-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    width: 100px;
    height: auto;
}
.userAvatar{
    width:50px;
    height:auto;
    border-radius: 50%;
}

.bar-card{
    width: 200px;
    background-color: rgb(241, 241, 241);
    height: 70px;
    border-radius: 10px;
    margin-left:25px;
    margin-bottom:50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo-container{
    display:grid;
    justify-content: center;
}

.graph {
    height:150px;
}


.dashboard_hero {
    background-image: linear-gradient(#ddc5c580,#00000080),url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 250px;
    background-position: top;
    background-size: cover;
    border-radius: 20px;
  }

  .content {
    text-align: left;
    position: absolute;
    top: 15%;
    left: 20%;
    color: #fff;
  }